{% extends "_layout.html" %}
{% block title %}Unix timestamp calculator{% endblock %}
{% block description %}Converts Unix timestamps to dates, and dates to Unix timestamps.{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data.min.js"></script>
{% endblock %}

{% block content %}
    <h2>What is a Unix timestamp?</h2>
    <p>This is a brief description of what that thing does</p>
{% endblock %}

{% block calculator %}
    <label>
        Local time <span id="timezone"></span>
        <input id="dateInputHumanLocal" type="text"/>
        <output id="dateOutputTimezoneLocal"></output>
    </label>
    <br>
    <label>
        UTC time
        <input id="dateInputHumanUtc" type="text"/>
        <output id="dateOutputHumanUtc"></output>
    </label>
    <br>
    <label>
        Unix timestamp
        <input id="dateInputUnixUtc" type="text"/>
        <output id="dateOutputUnixUtc"></output>
    </label>
    <script type="text/javascript">
        window.onload = function() {
            const utcNow = moment.utc();
            const timezone = moment.tz.guess();
            const dateInputFormats = ["YYYY-MM-DD HH:mm:ss", "YYYY-MM-DD HH:mm", "YYYY-MM-DD HH", "YYYY-MM-DD", "YYYY-MM", "YYYY"];

            const dateOutputTimezoneLocal = document.getElementById('dateOutputTimezoneLocal');
            const dateInputHumanLocal = document.getElementById('dateInputHumanLocal');
            const dateInputHumanUtc = document.getElementById('dateInputHumanUtc');
            const dateInputUnixUtc = document.getElementById('dateInputUnixUtc');
            const timezoneLabel = document.getElementById('timezone');

            setHumanLocalDate(utcNow);
            setHumanUtcDate(utcNow);
            setUnixUtcDate(utcNow);
            timezoneLabel.innerHTML = `(${moment.tz.zone(timezone).abbr(utcNow)})`;

            dateInputHumanLocal.addEventListener('input', (e) => {
                const date = moment(e.target.value, dateInputFormats, true);
                setHumanUtcDate(date);
                setUnixUtcDate(date);
            });

            dateInputHumanUtc.addEventListener('input', (e) => {
                const date = moment.utc(e.target.value, dateInputFormats, true);
                setHumanLocalDate(date);
                setUnixUtcDate(date);
            });

            dateInputUnixUtc.addEventListener('input', (e) => {
                const date = moment.unix(e.target.value);
                setHumanLocalDate(date);
                setHumanUtcDate(date);
            });

            function setHumanLocalDate(localDate) {
                if (localDate.isValid()) {
                    const value = localDate.tz(timezone)
                    dateInputHumanLocal.value = value.format('YYYY-MM-DD HH:mm:ss');
                } else {
                    dateInputHumanLocal.value = '????-??-?? ??:??:??';
                }
            }

            function setHumanUtcDate(localDate) {
                if (localDate.isValid()) {
                    const value = localDate.utc();
                    dateInputHumanUtc.value = value.format('YYYY-MM-DD HH:mm:ss');
                } else {
                    dateInputHumanUtc.value = '????-??-?? ??:??:??';
                }
            }

            function setUnixUtcDate(localDate) {
                if (localDate.isValid()) {
                    dateInputUnixUtc.value = localDate.format('X');
                } else {
                    dateInputUnixUtc.value = '??????????'
                }
            }
        }
    </script>
{% endblock %}